body {
    margin: 0;
}

.scroll_container {
    /*The container must to be the screen size 
    for the scroll to be active*/
    max-width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.HV-scroll-horizontal-container {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: visible;
}

.HV-scroll-vertical-container {
    width: 100vw;
    overflow-x: hidden;
}

.scrolleable {
    box-sizing: border-box;
}